---
Checks:            '*,-*-avoid-c-arrays,-llvmlibc*,-llvm-header-guard,-fuchsia*,-misc-non-private-member-variables-in-classes,-cppcoreguidelines-pro-type-reinterpret-cast'
HeaderFilterRegex: '.*'
